/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-abr-2016, 13:23:01
    Author     : Practicas01
*/

/**********************
    BOTON GENÉRICO
**********************/

.button {
    -fx-text-fill: white;
    -fx-background-color: rgb(96,96,96);
}

.button:hover {
    -fx-text-fill: rgb(96,96,96);;
    -fx-background-color: rgb(211,211,211);
    -fx-border-width: 1px;
    -fx-border-radius: 2;
    -fx-border-color: rgb(96,96,96);
}

/**********************
    FIN BOTÓN GENÉRICO
**********************/




/*************************
    TEXT FIELD GENÉRICO
*************************/

.text-field {
    -fx-background-color: rgb(96,96,96) , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

.text-field:focused {
    -fx-background-color: rgb(211,211,211) , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

/*****************************
    FIN TEXT FIELD GENÉRICO
*****************************/


/**********************
    CSS SCROLL BAR
**********************/

.scroll-bar{
 -fx-background-color: #B2B2AA;
 -fx-background-insets: 7,7,7,7;

}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 ;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(96,96,96);
 -fx-background-insets: 0 4 0 4;
 
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(130, 130, 130);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(96, 96, 96);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: transparent;
 
 /*

 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
*/

 }


.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: transparent;
    
 /*
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
 */
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

/*************************
    FIN CSS SCROLL BAR
**************************/



/***********************
    CSS TITLED PANES
************************/

.titled-pane .title
{
    -fx-background-color: #B2B2AA;
    -fx-text-fill: white;
    
    -fx-border-width: 4px;
    -fx-border-color: white;
    
}

.titled-pane 
{
    -fx-text-fill: white;
}



.titled-pane:focused 
{
    -fx-text-fill: white;
}

.titled-pane > .title > .arrow-button 
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color:  gray;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */

}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
    -fx-background-color: -fx-box-border,
    linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}

/**************************
    FIN CSS TITLED PANES
***************************/



/*********************
    PANELES DE STATUS
*********************/

.stopped {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , red,  #A10000);
    
}

.started {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , green,  #005200);
    
}

/************************
   FIN PANELES DE STATUS
*************************/


/*********************
    USER LABEL
*********************/

.userLabel {
    -fx-background-color: white;
}

.userLabel:hover {
    -fx-background-color: rgb(96, 96, 96);
    -fx-cursor: hand;
}

.userLabel:hover .label {
    -fx-text-fill: white;
}

.userLabel:focused {
    -fx-background-color: rgb(96, 96, 96); 
}

.userLabel:focused .label {
    -fx-text-fill: white;
}

/*********************
    FIN USER LABEL
*********************/


/************************
    LIST VIEW GENÉRICO - Lista usuarios leftPane
*************************/

.list-view:hover {
    -fx-border-width: 1px;
    -fx-border-color: rgb(96, 96, 96);
}

.list-view:focused {
    -fx-border-width: 2px;
    -fx-border-color: rgb(96, 96, 96);
}


.list-view .cell {
    -fx-padding: 1 ;
}


.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.list-cell:selected:focused *, .list-cell:selected {
   -fx-background-color: white;
}

/***************************
    FIN LIST VIEW GENÉRICO
****************************/